Goal: To extract technical skills from the given dataset

In [27]:
import numpy as np
import pandas as pd

In [28]:
raw_data=pd.read_csv("Raw_Skills_Dataset.csv")
raw_data.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [29]:
sample_data=pd.read_csv("Example_Technical_Skills.csv")
sample_data.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

In [30]:
raw_data.shape,sample_data.shape

((34116, 1), (979, 1))

Detemining Duplicates in Dataset

In [31]:
raw_data.duplicated().sum()

18439

In [32]:
sample_data.duplicated().sum()

82

In [33]:
raw_data.duplicated(keep="first")

0        False
1        False
2        False
3        False
4        False
         ...
34111    False
34112     True
34113     True
34114     True
34115     True
Length: 34116, dtype: bool

In [34]:
raw_data.loc[raw_data.duplicated(keep="first"),:]

                                            RAW DATA
13                                         Hibernate
58                                               SQL
102                                      consistency
114                                              AWS
124           experience building cloud environments
...                                              ...
34107                            limited supervision
34112                                      deadlines
34113  Self-motivated, enthusiastic and strong drive
34114                                    negotiation
34115                                      deadlines

[18439 rows x 1 columns]

In [35]:
sample_data.duplicated(keep="first")

0      False
1      False
2      False
3      False
4      False
       ...
974    False
975    False
976    False
977    False
978    False
Length: 979, dtype: bool

In [36]:
sample_data.loc[sample_data.duplicated(keep="first"),:]

                            Technology Skills
88                      Microsoft Focus COBOL
157                       Software Governance
194                                   PostGIS
199                                       FTP
209                          MS Bot Framework
..                                        ...
933                  GlobalAdvantage - Select
934              SAP Process Integration (PI)
935                                   Automic
964                 MS SQL Reporting Services
967  McKessonInpatient PhysicalRehabilitation

[82 rows x 1 columns]

In [37]:
new_raw=pd.DataFrame(raw_data.drop_duplicates(keep="first"))
new_raw.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [38]:
new_raw.columns=new_raw.columns.str.replace('RAW DATA','Technology Skills')
new_raw.head()

  Technology Skills
0          What ifs
1         seniority
2       familiarity
3   functionalities
4           Lambdas

In [39]:
new_sample=pd.DataFrame(sample_data.drop_duplicates(keep="first"))
new_sample.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

In [40]:
con_df=df3=pd.concat([new_raw,new_sample],ignore_index=True)

In [41]:
con_df.head()

  Technology Skills
0          What ifs
1         seniority
2       familiarity
3   functionalities
4           Lambdas

In [42]:
new_sample.shape

(897, 1)

In [43]:
con_df.duplicated().sum()

36

In [44]:
result=con_df.loc[con_df.duplicated(keep="first"),:]
result.head()

      Technology Skills
15681            DevOps
15683         OpenShift
15704          SAS Base
15712             MySQL
15723   Adobe Photoshop

In [45]:
result.to_csv('output.csv',index=False)